@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap);



.memberBarChart {
    height: 100%;
    margin: 20px auto
}



.memberChartInfo {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #DCDBD7;
    border-radius: 20px;
    margin: 20px 0px;
    margin-bottom: 50px;
}


#memberStackedBarChart {
    margin-bottom: 50px;
}