#memberNavLogo {
    height: 40px;
    width: 100px;
}

.memberNavList {
    font-size: 28px;
}

.memberHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFEFEE;
    padding: 10px 20px;
}

.memberTopnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.memberTopnav a:hover {
    background-color: #ddd;
    color: black;
}

#membersignoutBtn {
    color: white;
    font-size: 20px;
    background: #707D90;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}

#membersignoutBtn:hover {
    opacity: 0.9;
}

#openMemberNavBtn {
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
}

/* The side navigation menu */
.memberSidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #707D90;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    list-style: none;
}

/* The navigation menu links */
.memberSidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.memberSidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.memberSidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#wrapper {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .memberSidenav {
        padding-top: 15px;
    }

    .memberSidenav a {
        font-size: 18px;
    }
}