#admin_login {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login_pic {
    width: 200px;
    height: 200px;
    margin: 4rem;
    div {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
