#backstage {
  .sider {
    .logo {
      height: 4rem;
      width: 100%;
      background-color: #e4dcd1;
    }
  }
  .order_table {
    //table
    .status_tag {
      padding: 0.5rem;
      .anticon {
        vertical-align: 0.1rem;
      }
    }
  }

  .navbar_admin {
    transition: all 0.5s;
    &:hover {
      background-color: #cfcfcf;
      cursor: pointer;
    }
  }
}

.detail_list {
  .detail_item > div {
    display: flex;
    & > div {
      flex: 3;
    }
    .img_container {
      flex: 1;
    }
  }
}
.ck-editor__editable_inline {
  min-height: 300px;
}
#cover_image {
  .cover_img_container {
    .ant-image {
      border: 2px dashed;
      padding: 5px;
    }
  }
}
