#backstage {
  .sider {
    .logo {
      height: 4rem;
      width: 100%;
      background-color: aqua;
    }
  }
  .order_table {
    .status_tag {
      padding: 0.5rem;
      .anticon {
        vertical-align: 0.1rem;
      }
    }
  }
}
