<<<<<<< HEAD
#footer .footer {
  background-color: #dcdbd7;
  color: black;
  padding: 100px;
  text-align: center;
  display: flex;
  font-size: 20px;
}
#footer .iconGroup {
  width: 40%;
}
#footer .socialSite {
  text-decoration: none;
  color: #000;
}
#footer .siteMap {
  width: 80%;
}
#footer .siteSmalltitle {
  text-align: start;
  padding: 10px 0px;
}
#footer .siteText {
  text-decoration: none;
  color: #000;
  padding: 0px 20px;
}
#footer .sitePic {
  width: 40px;
  height: 40px;
}
#footer .sitepicGroup {
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}
#footer .footerSelection {
  text-align: center;
  padding-top: 15px;
}
#footer .logoPic {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
=======
body {
  background-color: rgb(255, 255, 255);
  
>>>>>>> origin/hihi
}

#header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.2s linear;
}
#header.hide {
  transform: translateY(-100px);
}
#header .navbar .nav_head {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 0 1rem;
}
#header .navbar .nav_head .navbar-brand {
  margin-top: 5px;
  height: 70px;
}
#header .navbar .nav_head .navbar-brand img {
  height: 100%;
}
#header .navbar .nav_head .nav_btn_cus {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#header .navbar .nav_head .nav_btn_cus span {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s linear;
}
#header .navbar .nav_head .nav_btn_cus span:nth-child(2) {
  transition: all 0.1s linear;
}
#header .navbar .nav_head .nav_btn_cus[aria-expanded=true] span:nth-child(2) {
  transform: scale(0.1);
  transition: all 0.1 linear;
}
#header .navbar .nav_head .nav_btn_cus[aria-expanded=true] span:first-child {
  transform-origin: center left;
  transform: rotate(45deg);
}
#header .navbar .nav_head .nav_btn_cus[aria-expanded=true] span:last-child {
  transform-origin: center left;
  transform: rotate(-45deg);
}
#header .navbar .nav_body {
  padding: 0 1rem;
  background: linear-gradient(180deg, #000000 30%, rgba(209, 209, 209, 0) 100%);
}
#header .navbar .nav_body .slide_selects_nav {
  display: flex;
  flex-direction: column;
}
#header .navbar .nav_body .slide_selects_nav div {
  margin: 0.2rem 0;
}
#header .navbar .nav-item .nav-link {
  color: white;
}
#header .navbar .nav-item .nav-link:hover {
  color: yellow;
}
@media (min-width: 992px) {
  #header .navbar .nav_head {
    background: linear-gradient(180deg, #000000 30%, rgba(209, 209, 209, 0) 100%);
    height: 100px;
  }
}

.banner {
  width: 100%;
  position: relative;
}
.banner .banner_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
  background-image: url("../../public/img/album1.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 90% 20%;
}
.banner .backfiliter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}
.banner #banner_cover img {
  transition: opacity 0.4s ease-in-out;
}
.banner #banner_thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 5px;
}
.banner #banner_thumbnails .thumbnail {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.banner #banner_thumbnails .thumbnail img {
  box-sizing: border-box;
  height: 18vw;
  width: 18vw;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.banner #banner_thumbnails .thumbnail.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 992px) {
  .banner {
    padding-left: 6vw;
    display: flex;
    justify-content: left;
  }
  .banner #banner_cover {
    width: 40vw;
  }
  .banner #banner_thumbnails {
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    overflow: visible;
  }
  .banner #banner_thumbnails .thumbnail.active::before {
    content: "";
    position: absolute;
    left: -5px;
    bottom: 0;
    height: 100%;
    width: 5px;
    background-color: rgb(255, 255, 255);
  }
  .banner #banner_thumbnails .thumbnail img {
    height: 4vw;
    width: 4vw;
  }
}
#admin_login {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#admin_login .login_pic {
  width: 200px;
  height: 200px;
  margin: 4rem;
}
#admin_login .login_pic div {
  border-radius: 50%;
  overflow: hidden;
}

#backstage .sider .logo {
  height: 4rem;
  width: 100%;
  background-color: aqua;
}/*# sourceMappingURL=all.css.map */