body {
  background-color: black;
}

#header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

#header.hide {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

#header .navbar .nav_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: black;
  padding: 0 1rem;
}

#header .navbar .nav_head .navbar-brand {
  margin-top: 5px;
  height: 70px;
}

#header .navbar .nav_head .navbar-brand img {
  height: 100%;
}

#header .navbar .nav_head .nav_btn_cus {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header .navbar .nav_head .nav_btn_cus span {
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#header .navbar .nav_head .nav_btn_cus span:nth-child(2) {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#header .navbar .nav_head .nav_btn_cus[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: all 0.1 linear;
  transition: all 0.1 linear;
}

#header .navbar .nav_head .nav_btn_cus[aria-expanded="true"] span:first-child {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .navbar .nav_head .nav_btn_cus[aria-expanded="true"] span:last-child {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header .navbar .nav_body {
  padding: 0 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #000000), to(rgba(209, 209, 209, 0)));
  background: linear-gradient(180deg, #000000 30%, rgba(209, 209, 209, 0) 100%);
}

#header .navbar .nav_body .slide_selects_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .navbar .nav_body .slide_selects_nav div {
  margin: 0.2rem 0;
}

#header .navbar .nav-item .nav-link {
  color: white;
}

#header .navbar .nav-item .nav-link:hover {
  color: yellow;
}

@media (min-width: 992px) {
  #header .navbar .nav_head {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #000000), to(rgba(209, 209, 209, 0)));
    background: linear-gradient(180deg, #000000 30%, rgba(209, 209, 209, 0) 100%);
    height: 100px;
  }
}

.banner {
  width: 100%;
  position: relative;
}

.banner .banner_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
  background-image: url("../../public/img/album1.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 90% 20%;
}

.banner .backfiliter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}

.banner #banner_cover img {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.banner #banner_thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 5px;
}

.banner #banner_thumbnails .thumbnail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.banner #banner_thumbnails .thumbnail img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 18vw;
  width: 18vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner #banner_thumbnails .thumbnail.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: white;
}

@media (min-width: 992px) {
  .banner {
    padding-left: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .banner #banner_cover {
    width: 40vw;
  }
  .banner #banner_thumbnails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: visible;
  }
  .banner #banner_thumbnails .thumbnail.active::before {
    content: "";
    position: absolute;
    left: -5px;
    bottom: 0;
    height: 100%;
    width: 5px;
    background-color: white;
  }
  .banner #banner_thumbnails .thumbnail img {
    height: 4vw;
    width: 4vw;
  }
}
/*# sourceMappingURL=all.css.map */