.content{
    padding-top: 50px;
    /* background-color: lightcoral; */
    /* height: 1000px; */
    border-bottom: 1px solid #F2EBEB;
}
.s-title{
    width: 50%;
    padding-top: 50px;
    /* background-color: rgb(139, 48, 78); */
    position: sticky;
    top: 0;
}
.s-title a{
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.s-title span{
    padding-left: 20px;
    /* background-color: rgb(139, 48, 78); */
    display: block;
    line-height: 40px;
}
.A-container,
.A-container-fluid,
.A-container-xxl,
.A-container-xl,
.A-container-lg,
.A-container-md,
.A-container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5); */
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .A-container-sm,
    .A-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .A-container-md,
    .A-container-sm,
    .A-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .A-container-lg,
    .A-container-md,
    .A-container-sm,
    .A-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .A-container-xl,
    .A-container-lg,
    .A-container-md,
    .A-container-sm,
    .A-container {
        max-width: 1140px;
    }
}

.A-article{
    border-bottom: 1px solid #F2EBEB;
    padding-bottom: 100px;
}

.A-recommend{
    margin-top: 50px;
    /* background-color: bisque; */
    border-bottom: 1px solid #F2EBEB;
    
}
.A-recommend a{
    color: black;
    text-decoration: none;
    
}
.message-board{
    margin: 50px 0;
    /* height: 400px; */
    /* background-color: saddlebrown; */
    /* border-bottom: 1px solid #F2EBEB; */
}
.left-r{
    width: 50%;
    padding-right: auto;
    border-right: 1px solid #F2EBEB;
    
}
.right-r{
    text-align: right;
    width: 50%;
    padding-left: auto;
    
}
.A-recommend-text{
    font-size: 14px;
    color: gray;
}
.A-recommend-title{
    padding-top: 30px;
    font-size: 20px;
    height: 100px;
}

.sugges-post{
    padding-top: 50px;
    /* height: 1000px; */
    /* background-color: bisque; */
    
}
.sp-title{
    text-align: center;
    font-size: 36px;
    padding: 20px;
}
.card-img{
    
    object-fit: cover;
}
.card-img img{
    border-radius:5%;
    height: 250px;
    width: 300px;
}
#cardforuser{
    width: 300px;
    border-radius:5%;
    border: 0px;
}
.content-title{
    border-bottom: 2px solid rgba(187, 187, 187, 0.432);
    font-size: 50px;
    font-weight: bolder;
}
.content-title span{
    color: gray;
    font-size: 15px;
    display: block;
}
.content-p{
    margin: 20px 0;
    line-height: 35px;
    min-height: 500px;
}
.content-h3{
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0;
    line-height: 30px;
}
.content-h4{
    font-weight: 700;
    font-size: 25px;
    margin: 30px 0;
    line-height: 30px;
}
.userText{
   padding: 50px 0;
   border-bottom: 1px solid #F2EBEB;
   
}
.userText-notlogin{
    padding: 50px 0;
    border-bottom: 1px solid #F2EBEB;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* filter: blur(30px); */
 }

.userName{
    font-size: 20px;
    font-weight: bold;
    
}
.userPost{
    margin-top: 10px;
}
.userCotent{
    padding: 15px 0px;
    line-height: 30px;
    padding-left: 78px;
    border-bottom: 1px solid #F2EBEB;
}
.c-bodylink a{
    color: black;
    text-decoration: none;
}
.c-bodylink a:hover{
    color: rgb(65, 65, 65);
    text-decoration: none;
}
.nocomment{
    text-align: center;
    font-size: 28px;
    padding: 20px 0;
    font-weight: bold;
}
.headimg{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    
}
.headimg img{
    object-fit: cover;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 3px solid rgb(88, 75, 75);
}
.commentTime{
    font-size: 14px;
    color: gray;
}
.commentName{
    font-weight: bold;
}