.goodstype {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fb;
  height: 100px;
}

.diet,
.drink {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.myDiet,
.myDrink {
  text-decoration: none;
  color: #000;
  font-size: 1vw;
}

.myGoodscontain {
  width: 1300px;
  margin: 0 auto;
}

.goodsCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.goodsImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigImage {
  width: 480px;
  height: 350px;
  object-fit: cover;
  margin: 0px 20px;
}

.smallGroup {
  display: flex;
  margin-top: 20px;
}

.smallImage {
  width: 120px;
  height: 80px;
  padding: 0px 0.5vw;
  /* cursor: pointer; */
  object-fit: cover;
}

.smallImage:hover{
  filter: brightness(40%);
  cursor: pointer;
}

.smallImage.active {
  /* border: 2px solid #c5a188; */
  filter: brightness(40%);

}

.increaseBtn,
.decreaseBtn {
  font-size: 2vw;
  border: none;
  background-color: #656565;
  color: white;
  vertical-align: middle;
}

.cartIn {
  color: #c5a188;
  font-size: 25px;
  background-color: white;
  border: 1px solid #dcdbd7;
  text-align: center;
  padding: 0.2px 63px;
  border: 1px solid #c5a188;
  margin-right: 20px;
  border-radius: 3px;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.cartIn:hover {
  background-color: #c5a188;
  color: white;
}

.buyIn {
  font-size: 25px;
  background-color: #707d90;
  color: white;
  text-align: center;
  padding: 5px 76px;
  border-radius: 3px;
  text-decoration: none;
  transition: box-shadow 0.5s ease;
}

.buyIn:hover {
  background-color: white;
  color: #707d90;
  box-shadow: inset 0 0 0 3px #707d90;
}

.joinFollow {
  font-size: 25px;
  background-color: white;
  color: #dcdbd7;
  text-align: center;
  padding: 5px 50px;
  border: 1px solid #dcdbd7;
  border-radius: 20px;
  transition: background-color 0.5s ease, color 0.3s ease, border 0.3s ease;
}

.joinFollow:hover {
  background-color: #dcdbd7;
  color: #474747;
  border: 1px solid #dcdbd7;
}

.heartIcon {
  padding: 0px 0px 2px 0px;
  font-size: 28px;
}

.chooseTheGoodQuantity {
  display: flex;
  flex-direction: row;
}

.addingQty {
  font-size: 2vw;
  text-align: center;
  font-family: "Allura", cursive;
  border: #656565 solid 1px;
}

#addGoods {
  border: none;
  border-top: 1px solid #dcdbd7;
  border-bottom: 1px solid #dcdbd7;
  border-left: 1px solid #dcdbd7;
  text-align: center;
}

.goodsText {
  flex: 1;
  padding: 0 20px;
}

.gGroup {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.goodsName {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -5px;
  color: #3e454f;
}

.goodsDes {
  font-size: 16px;
  margin-bottom: 40px;
}
.goodsTitle {
  display: flex;
  align-items: center;
}

.activityTitleOne {
  font-size: 1.3vw;
  color: burlywood;
  font-weight: bolder;
}

.activityTitleTwo {
  font-size: 1.3vw;
  color: #5ba07a;
  font-weight: bolder;
}

.activityName {
  font-size: 2vw;
  color: #000000;
  margin: 0px;
}

.goodsPrice {
  font-size: 4vw;
  margin-bottom: 5px;
  font-family: "Allura", cursive;
  margin-right: 1vw;
}

.goodsSPrice {
  font-size: 2vw;
  margin-bottom: 5px;
  font-family: "Allura", cursive;
  color: #c5a188;
  text-decoration: line-through;
}

.bigGroup {
  display: flex;
  justify-content: center;
}

.prevBtn,
.nextBtn {
  background-color: white;
  border: 0px white solid;
  color: #707d90;
  font-size: 60px;
}

.mygoodsExplain {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 50px;
}

.mygoodsIntro {
  display: flex;
  color: #000;
  background-color: #f8f9fb;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.mygoodsSave {
  display: flex;
  color: #000;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sTopic {
  border-left: 2px solid black;
  padding-left: 30px;
  font-size: 40px;
}

.sParagraph {
  font-size: 16px;
}

.nutriChart {
  text-align: center;
  display: flex;
  justify-content: center;
}

#chartCanvas {
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
}

.recommendBar {
  background-color: #f8f9fb;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recomGoods {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#myGoodCard {
  height: 260px;
  width: 260px;
  object-fit: cover;
  margin: 40px;
  border-radius: 50%;
  transition: filter 0.3s ease;
}

#myGoodCard:hover {
  filter: brightness(40%);
}

.cardTopic {
  color: black;
}

.jumpPage {
  text-decoration: none;
}

.mycardSPrice {
  color: black;
  font-family: "Allura", cursive;
  margin-right: 1vw;
  font-size: 2vw;
}

.mycardPrice {
  color: #c5a188;
  text-decoration: line-through;
  font-family: "Allura", cursive;
}

.footer {
  background-color: #dcdbd7;
  color: black;
  padding: 100px;
  text-align: center;
  display: flex;
  font-size: 20px;
}

.iconGroup {
  width: 40%;
}

.socialSite {
  text-decoration: none;
  color: #000;
}

.siteMap {
  width: 80%;
}

.siteSmalltitle {
  text-align: start;
  padding: 10px 0px;
}

.siteText {
  text-decoration: none;
  color: #000;
  padding: 0px 20px;
}

.sitePic {
  width: 40px;
  height: 40px;
}

.sitepicGroup {
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}

.footerSelection {
  text-align: center;
  padding-top: 15px;
}

.logoPic {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

.cardContainerInGoodPage {
  position: relative;
}

.cardContainerInGoodPage:hover #myGoodCard {
  filter: brightness(40%);
}

.theCarolInPicture {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  color: #ffffff;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  text-decoration: underline;
}

.cardContainerInGoodPage:hover .theCarolInPicture {
  display: block;
}
