.mybody {
    background-color: #EEEEEE;
    display: block;
    margin: 0px;
    padding-top: 50px;
}

.main {
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9E9696;
}

.hText {
    padding: 0 35px;
    font-size: 20px;
}

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
}

.circle span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.theTopic {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myTopicText {
    font-size: 28px;
}

.myhr {
    border-color: #ababab;
    margin: 10px 0px;
    border-width: 2px;
}

.goods {
    background-color: #ffffff;
    padding: 20px 40px;
    margin: 0 auto;
    width: 94.8%;
}

.smallTopic {
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    color: #616161;
    display: flex;
}

.goodGroup {
    display: flex;
    padding: 0 20px;
}

.goodPic {
    width: 340px;
    height: 210px;
    object-fit: cover;
    padding-left: 40px;
}

.goodText {
    margin-left: 40px;
    padding: 0px 100px 0px 60px;
}

.goodPrice {
    font-size: 25px;
}

.goodName {
    font-size: 26px;
    margin-bottom: -5px;
}

#decreaseBtn,
#decreaseBtnOne,
#increaseBtnOne,
#increaseBtn {
    font-size: 30px;
}

#addingGoods,
#addingGoodsone {
    font-size: 30px;
    text-align: center;
    padding: 0px;
    width: 220px;
}

.bigPrice {
    color: #C10000;
    font-size: 35px;
    text-align: center;
}

.buttonGroup {
    padding-top: 40px;
}

.buttonGroup>div{
    display: flex;
}

.deBtn {
    font-size: 35px;
    margin-left: 200px;
}

.goodQtys {
    padding-left: 1000px;
}

.member {
    background-color: #E3C5C5;
    padding: 0px 10px;
    margin: 0px 20px 10px 0px;
    font-size: 30px;
    border-radius: 10%;
}

.remindText {
    font-size: 22px;
    color: #0C2D1D;
}

.fillFrame {
    width: 91%;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    padding: 0px 30px;
    letter-spacing: 0.2em;
}

.fillRemind {
    font-size: 25px;
}

.memberBox {
    padding: 0px 40px 10px 40px;
    margin: 0 auto;
    width: 70%;
}

.specOff {
    width: 97%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    color: #C10000;
    border: 1px solid #c10000;
    background-color: white;
}

.specOff:hover {
    cursor: pointer;
}

.takingName {
    font-size: 25px;
    padding: 0px 0px -3px 0px;
}

.sameBuyer {
    vertical-align: middle;
}

.radioFrame {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    accent-color: #c10000;
}

#sameAsBuyer+label:hover,
.radioFrame:hover {
    cursor: pointer;
}

.specialOff {
    width: 40%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    color: black;
    border: 1px solid black;
    background-color: white;
}

.specialOff.active {
    color: #c10000;
}

.deliveryWay {
    display: flex;
    justify-content: space-between;
}

.specialOff:hover {
    cursor: pointer;
}

.cWhich {
    width: 97%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.sText {
    padding: 0px 400px 0px 0px;
    cursor: pointer;
}

.cWhich.active {
    color: #c10000;
}

.selectSeven {
    width: 97%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    color: white;
    border: 1px solid #555555;
    background-color: #555555;
    border-radius: 10px;
}

.selectSeven:hover {
    cursor: pointer;
}

.payingWay {
    width: 97%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    color: #c10000;
    border: 1px solid #c10000;
    background-color: white;
    border-radius: 10px;
}

.counterRemind {
    font-size: 22px;
    color: #DCDBD7;
}

.countReminder {
    color: #0C2D1D;
    background-color: #EEEEEE;
}

.invoiceInfo {
    display: flex;
}

.goodsExplain {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 40px;
}

.goodsIntro {
    display: flex;
    color: #000;
    background-color: #F8F9FB;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
}


.goodsSave {
    display: flex;
    color: #000;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
}

.invoiceText {
    vertical-align: middle;
    font-size: 20px;
}

.spaceSteal {
    width: 100%;
    padding: 10px;
    visibility: hidden;
}

.invoiceGroup {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#future {
    width: 40px;
    height: 40px;
    accent-color: #c10000;
}

#letter {
    width: 40px;
    height: 40px;
    accent-color: #c10000;
}

#phone {
    width: 40px;
    height: 40px;
    accent-color: #c10000;
}

.footer {
    background-color: #DCDBD7;
    color: black;
    padding: 100px;
    text-align: center;
    display: flex;
    font-size: 20px;
}

.iconGroup{
    width: 40%;
}

.socialSite{
    text-decoration: none;
    color: #000;
}

.siteMap{
    width: 80%;
}

.siteSmalltitle{
    text-align: start;
    padding: 10px 0px;
}

.siteText{
    text-decoration: none;
    color: #000;
    padding: 0px 20px;
}

.sitePic{
    width: 40px;
    height: 40px;
}

.sitepicGroup{
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.footerSelection{
    text-align: center;
    padding-top: 15px;
}

.logoPic{
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}
.counter {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 40px 60px 40px 60px;
    margin: 0 auto;
    width: 85%;
}

.typingIv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 300px;
    align-items: center;
    letter-spacing: 0.2em;
}

.vIcon {
    border: 0px;
    background-color: white;
    cursor: pointer;
}

.totalQty {
    font-size: 45px;
    color: #c10000;
    text-align: right;
    margin: 0px;
}

.bigvIcon {
    margin: 0px 0px 0px 20px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}

.vImage {
    width: 23px;
}

.finalCounter {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 40px 60px 0px 60px;
    margin: 0 auto;
    width: 85%;
}

.rNow {
    padding: 30px 60px;
    margin: 0 auto;
    width: 85%;
}

.shopBtn {
    width: 97%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    color: white;
    border: 1px solid #c10000;
    background-color: #c10000;
    border-radius: 10px;
}

.shopBtn>div {
    letter-spacing: 0.5em;
    font-size: 40px;
}

.hinds {
    background-color: #ffffff;
    padding: 20px 40px 40px 40px;
    margin: 0 auto;
    width: 50%;
}

.saleGroup {
    padding: 60px 0px 40px 0px;
    display: flex;
    flex-direction: row;
}

.attText {
    width: 60%;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    padding: 0px 30px;
    letter-spacing: 0.2em;
    margin-right: 40px;
}

.attBtn {
    background-color: #C5A188;
    color: white;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    flex: 1;
}

.cupponGroup {
    border: 1px solid black;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFDF8;
    margin-bottom: 20px;
}

.borderLine {
    border-right: 1px solid black;
    padding: 0px 30px;
    display: inline;
}

.myLogo {
    width: 80px;
    height: 80px;
    object-fit: cover;

}

.cupponDec {
    font-family: 'Allura', cursive;
    padding: 10px 30px;
    letter-spacing: 0.2em;
    font-size: 26px;
    color: #000;
}

.cupponBtn {
    display: inline;
    padding: 20px;
    margin: 10px;
    background-color: #F5F5F5;
}

.cupponSel {
    background-color: #FEFDF8;
    color: #646161;
    border: 0px;
    padding: 10px;
    cursor: pointer;
}

.citySel {
    width: 30%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: gray;
    letter-spacing: 0.1em;
}

.sectionSel {
    width: 50%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 60px;
    font-size: 20px;
    color: gray;
    text-align: center;
    letter-spacing: 0.1em;
}

.addGroup {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

.addressText {
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid gray;
    height: 60px;
    font-size: 20px;
    color: gray;
    letter-spacing: 0.1em;
}

.cloudIv {
    margin: 50px;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid gray;
    height: 60px;
    font-size: 20px;
    color: gray;
    letter-spacing: 0.1em;
}

.deliveryBox {
    padding: 0px 40px 10px 40px;
    margin: 0 auto;
    width: 60%;
}

.cloudBox {
    padding: 0px 40px 10px 40px;
    margin: 0 auto;
}


.hiddenBox {
    position: relative;
    margin: auto;
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding: 20px;

}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 1.5vw;
    cursor: pointer;
}

.cupponHidden {
    display: none;
}

.hinds {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.hiddenIv {
    display: none;
}

.hiddenIvGroup {
    display: none;
}

.deliveryHide {
    display: none;
}

.defaultCon {
    width: 40%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    color: #c10000;
    border: 1px solid #c10000;
    background-color: white;
}

.defaultSelect {
    width: 97%;
    height: 60px;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #c10000;
    border: 1px solid #c10000;
    background-color: white;
    border-radius: 10px;
}



.discountGroup{
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
    align-items: center;
}

.discountFamily{
    display: none;
}

.discount{
    color: red;
}

.discountTotal{
    font-size: 25px;
}

.myShoppingFamily{
    display: none;
}

.myShoppingGroup{
    display: flex;
    justify-content: space-between;
    padding: 10px 500px;
    align-items: center;
}

.myShopping{
    color: #686868;
}