.topicText {
    font-size: 70px;
    font-family: 'Allura', cursive;
    padding-top: 190px;
    text-align: center;
}

/* ------------- */

.firstP {
    background-color: #F8F9FB;
    position: relative;
    width: 100%;
    height: 970px;
}

.countdownContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.countingIcon {
    position: relative;
    border: 1px solid #C5A188;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-right: 30px;
}

.countingNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: lighter;
}

.changingImg {
    position: relative;
}

.chPic {
    width: 1190px;
    height: 580px;
    object-fit: cover;
}

.event {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-decoration: overline;
    color: black;
    position: relative;
    font-size: 32px;
    letter-spacing: 0.2em;
    margin-left: 20px;
}


.goodsPge {
    display: flex;
    padding-left: 255px;
    padding-right: 255px;
}

.drinkgoodsPge,
.dietgoodsPge {
    flex: 1;
    text-align: center;
}


.a,
.b,
.c {
    color: black;
    text-decoration: none;
    font-size: 32px;

}

.mycontain {
    width: 85%;
    padding-left: 235px;
}

.selectS {
    border-left: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.allGoods>p {
    flex: 0.5;
    font-size: 24px;

}

.goodsQty>p {
    flex: 0.5;
    font-size: 24px;
}

.howMuchGoods {
    width: 40px;
}

.whereUsergo {
    text-decoration: none;
}

#myCard {
    height: 320px;
    width: 330px;
    object-fit: cover;
    padding: 20px;
}

.cardTopic {
    text-align: center;
    color: black;
    text-decoration: dotted;
}

.cardText {
    text-align: center;
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

.cardColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumpPage {
    text-decoration: none;
}

.storePriceStyle{
    display: flex;
    justify-content: center;
}

.cardPrice {
    color: #C5A188;
    font-family: 'Allura', cursive;
    text-decoration: line-through;
}

.cardSprice {
    color: black;
    font-family: 'Allura', cursive;
    font-size: 2vw;
    margin-right: 2vw;
}

.squareBtn,
.listBtn {
    border: 0px;
    background-color: white;
    cursor: pointer;
}

.squareImg {
    width: 50px;
    height: 50px;
}

.listImg{
    width: 64px;
    height: 64px;
}

.footer {
    background-color: #DCDBD7;
    color: black;
    padding: 100px;
    text-align: center;
    display: flex;
    font-size: 20px;
}

.iconGroup{
    width: 40%;
}

.socialSite{
    text-decoration: none;
    color: #000;
}

.siteMap{
    width: 80%;
}

.siteSmalltitle{
    text-align: start;
    padding: 10px 0px;
}

.siteText{
    text-decoration: none;
    color: #000;
    padding: 0px 20px;
}

.sitePic{
    width: 40px;
    height: 40px;
}

.sitepicGroup{
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.footerSelection{
    text-align: center;
    padding-top: 15px;
}

.logoPic{
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}

.nextPage {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Allura', cursive;
}

.nextOne {
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 10px;
    color: black;
    border-bottom: 1px black solid;
}

.nextTwo,
.nextThree {
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 10px;
    color: #D9D9D9;
    border-bottom: 1px #D9D9D9 solid;
}

.gotopBtn {
    position: fixed;
    bottom: 20px;
    right: 3%;
}

.gotopBtn {
    text-decoration: none;
    color: #707D90;
}

.backGroup {
    display: inline;
    text-align: center;
}

.arrowImg {
    width: 20px;
    height: 70px;
}

.backGroup>span {
    font-family: 'Allura', cursive;
    font-size: 1vw;
}

.mycardIcon {
    position: relative;
}

.hiddenIcon {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: none;
}

.mycardIcon:hover .hiddenIcon {
    display: block;
}

.magnifierBlock{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
}

.magnifierBlock>img{
    width: 40px;
    height: 40px;
}

.storePageSelect{
    color: burlywood;
    font-weight: bolder;
}